<div class="h-screen w-screen flex flex-col">
<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
    <div class="flex items-center gap-4">
      <a href="/">
        <img src={~p"/images/logo.svg"} width="36" />
      </a>
      <p class="font-sans text-base font-semibold text-indigo-500">
        BrowserVM
      </p>
    </div>
    <div class="flex items-center gap-4 font-semibold leading-6 text-indigo-100">
      <a
        href={~p"/console"}
        class="rounded-lg bg-indigo-500 px-2 py-1 hover:bg-indigo-700"
      >
        Konsol <span aria-hidden="true">&rarr;</span>
      </a>
    </div>
  </div>
</header>
<%!-- <main class="px-4 py-20 sm:px-6 lg:px-8 min-h-screen"> --%>
<main class="flex-grow flex-1">
  <%!-- <div class="mx-auto max-w-2xl"> --%>
  <%!-- NOTE: If you want the behaviour above, simply make in the nested div inside --%>
  <div class="w-full h-full">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
</div>